pre.elmsh {
    padding: 10px 2px;
    margin: 0;
    text-align: left;
    overflow-x: scroll;
}
code.elmsh {
    padding: 0;
}
.elmsh-line:before {
    content: attr(data-elmsh-lc);
    display: inline-block;
    text-align: right;
    width: 15px;
    padding: 0 15px 0 0;
    opacity: 0.3;
}